extends layout

block content

    if showLogin
        header
            a(href="/").header__logo
                img(src="/img/logo.png")
        
        p In order to use Instagram Fight, you must first authorize Instagram.
        a(href="/authorize-user" class="btn btn-primary") Login to Instagram
    else
        div#app
