doctype html  
html  
    head
        title Instagram Fight
        link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700,200', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/main.css')

body

    div.container
        block content

    script(src="js/vendor.js")    
    script(src="js/vendor.bundle.js")
    script(src="js/bundle.js")
