doctype html  
html  
    head
        title Instagram Fight
        link(rel='stylesheet', href='/css/main.css')

body

    div.container
        block content

    script(src="js/vendor.js")    
    script(src="js/vendor.bundle.js")
    script(src="js/bundle.js")
