doctype html  
html  
    head
        title Instagram Fight
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

body

    nav.navbar.navbar-inverse.navbar-static-top
        div.navbar-header
            a.navbar-brand(href="/") Instagram Fight

    div.container
        block content

    script(src="js/vendor.js")    
    script(src="js/vendor.bundle.js")
    script(src="js/bundle.js")
