* {
  box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.vote {
  *zoom: 1;
}
.vote:after {
  content: '';
  display: table;
  clear: both;
}
.vote__image-container {
  display: block;
  float: left;
  width: 50%;
  border-radius: 3px;
}
.vote__image-container:hover {
  background-color: #eee;
}
.vote__image {
  max-width: 100%;
  padding: 10px;
}
.list__item-container {
  *zoom: 1;
  position: relative;
}
.list__item-container:after {
  content: '';
  display: table;
  clear: both;
}
.list__item-rank {
  display: none;
}
.list__item-image {
  max-width: 100%;
  padding: 20px;
}
.list__item-wins {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #aaa;
  color: #fff;
  line-height: 25px;
  text-align: center;
}
