* {
  box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.vote {
  *zoom: 1;
}
.vote:after {
  content: '';
  display: table;
  clear: both;
}
.vote__image-container {
  display: block;
  float: left;
  width: 50%;
  border-radius: 3px;
}
.vote__image-container:hover {
  background-color: #eee;
}
.vote__image {
  max-width: 100%;
  padding: 10px;
}
