* {
    box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
    &:after {
        content: '';

        display: table;
        clear: both;
    }
}

.vote {
    .clearfix;
}

.vote__image-container {
    display: block;
    float: left;
    width: 50%;

    border-radius: 3px;

    &:hover {
        background-color: #eee;
    }
}

.vote__image {
    max-width: 100%;
    padding: 10px;
}
